@import "tailwindcss"; 
:root {
  --background: #ffffff;
  --foreground: #171717;
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sriracha", cursive;
}

.playball-regular-font {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal; 
}

.playball-regular-font-stroke {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal; 
  color: #fefaf8;
  /* -webkit-text-stroke: 0.25px #fdfbf8; */
}

.playball-regular-font {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;  
}

.coming-soon {
  background: #0000005e;
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}
  
.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
 